<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>edu.servlet.userServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>testDbutil</servlet-name>
    <servlet-class>edu.servlet.testDbutil</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>testPool</servlet-name>
    <servlet-class>edu.servlet.testPool</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>testQr</servlet-name>
    <servlet-class>edu.servlet.testQr</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/servlet/userServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testDbutil</servlet-name>
    <url-pattern>/servlet/testDbutil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testPool</servlet-name>
    <url-pattern>/servlet/testPool</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testQr</servlet-name>
    <url-pattern>/servlet/testQr</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
